version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: telly-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: skshi1604
      POSTGRES_DB: tellydb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: telly-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data:
